html, body{
    direction: rtl;
    font-family: "vazir-Bold-FD-WOL ttf", serif;

}
@font-face {
    font-family: "vazir-Bold-FD-WOL ttf", serif;
}
.shabnam-text{
    font-family: "vazir-Bold-FD-WOL ttf", serif;
}
*{
    margin: 12px;
    padding: 0;



}
body{
    direction: rtl;
    text-align: right;
    background-color:gainsboro;
    background-attachment: fixed;
}

.menu{
    background-color: rgb(13, 100, 172);

}
.menu ul{
    margin: 0;
    float: right;
}
.menu li{
    display:inline-block;
    margin-top: 10px;
    padding-right: 30px;
    font-family:  vazir-Bold-FD-WOL ttf;
}
.menu ul a{
    background-color: rgb(158, 160, 241);
    text-decoration: none;
    margin-bottom: 5px;
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-family:  vazir-Bold-FD-WOL ttf;
}
.menu ul a:hover{
    background-color: rgb(158, 160, 241);
}
.menu li:active{
    position: relative;
    top: 3px;
}
.item{
    background-color: rgb(45, 4, 68);
}
