body{
    direction: rtl;
    text-align: center;
    background-color:gainsboro;
    background-attachment: fixed;
}
#footer{
    background-color: rgb(8, 26, 59);
    left: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 500px;
    text-align: right;
    position: absolute;

}
nav ul li :hover{
    background-color: chocolate;
}
